#loginBtnWrapper {
  margin: 20px 0;
}

#signinWrapper {
  width: 100%;
  text-align: center;
}

.use-passWrapper {
  width: 80%;
  display: inline-block;
}

.MuiPaper-root.MuiPaper-elevation20.MuiPaper-rounded {
  background-color:var(--Primary);
}
