.titleP {
    font-size:24px;
    margin-top:0;
    margin-bottom:10px;
}

.usernameP {
    font-size:14px;
    color:grey;
    margin-bottom:10px;
}

.topicP {
    font-size:14px;
    color:grey;
    margin-bottom:0px
}

.datePMain {
    margin:0;
    font-size:18px;
}

.titlePMain {
    font-size:32px;
    margin-top:0;
    margin-bottom:10px;
}

.usernamePMain {
    display:inline-block;
    font-size:18px;
    color:grey;
    margin-bottom:10px;
    bottom:8px;
    left:15px;
}

.topicPMain {
    display:inline-block;
    font-size:18px;
    color:grey;
    margin-bottom:0px;
    bottom:8px;
    left:15px;
}


.innerHTML P {
    margin:10px 0;
}

.innerHTML IMG {
    width:100%;
    margin:20px 0;
    max-width:400px;
    border-radius:10px;
}
.innerHTML DIV {
    text-align:center;
}

.contentWrapper {
    height:200px;
    overflow:hidden;
}

.contentCover {
    position:absolute;
    bottom:0;
    left:0;
    width:100%;
    height:30%;
    background-image:linear-gradient(to top, rgb(255, 255, 255, 1), rgb(255, 255, 255, 0));
}

.viewMore {
    text-align:center;
    font-size:16px;
    color:grey;
    margin:0;
}

.viewMore:hover {
    cursor:pointer;
}

.infoP {
    display:inline-block;
    width:60%;
    margin:0;
    vertical-align:top;
}

.infoWrapper {
    margin-left:10%;
    font-size:18px;
    height:50px;
    margin-top:0;
    margin-bottom:0;
}

.pointer:hover {
    cursor:pointer;
}